<div class="well maxSized marginBottom0 " >
    <table  ng-if="issuePresence" class="table table-striped">
        <thead>
            <tr class="green">
                <td class="col-md-2"> <h4>Issue Title</h4></td>
                <td class="col-md-4"> <h4>Description</h4></td>
                <td class="col-md-2"> <h4>Project</h4> </td>
                <td class="col-md-2"> <h4>Due Date</h4></td>
            </tr>

        </thead>

        <tbody>
            <tr ng-repeat="issue in issues">
                <td><a href="/#/issues/{{issue.Id}}">{{issue.Title}}</a></td>
                <td> {{issue.Description}} </td>
                <td> {{issue.Project['Name']}} </td>
                <td> {{issue.DueDate | date:'dd-MM-yyyy'}} </td>
            </tr>
        </tbody>
    </table>

    <div ng-if="!issuePresence && issueDataLoaded">
        <h3><span class="label label-success">No Issues</span></h3>
    </div>

    <uib-pagination
            ng-if="issuePresence"
            ng-change="pageChanged(currentPage)"
            total-items="totalItems"
            ng-model="currentPage"
            items-per-page="itemsPerPage"
            max-size="5"
            class="pagination-sm"
            boundary-links="true"
            direction-links="true"
            rotate="true"
            force-ellipses = "true"
            first-text="<<"
            previous-text="<"
            next-text=">"
            last-text=">>">
    </uib-pagination>
</div>