.main-content{

}
.the-table {
    table-layout: fixed;
    word-wrap: break-word;
}
.main-content-header{
    width: 95%;
    margin: 40px auto auto auto;
}
.green{
    color: #18bc9c;
}
.bg-gray{
    background-color: #ecf0f1;
}
.maxSized{
    height: 100%;
}
.marginBottom0{
    margin-bottom: 0px
}
.marginBottom5{
    margin-bottom: 5px
}
.marginRight1{
    margin-right: 1px;
}
td.nowrap {
    min-width: 100px;
}