<!--Page header-->
<div class="col-md-12">
    <p class="text-success text-capitalize text-right"> <em>Project Details Page</em></p>
</div>

<!-- Project Passport part -->
<div class="col-md-3">
    <!--<h3><small>Project:</small> </h3>-->
    <h3><span class="text-success">{{project.Name}}</span></h3>
    <hr>
    <p><span class="text-success">Description: </span>{{project.Description}}</p>
    <p><span class="text-success">Project Key: </span>{{project.ProjectKey}}</p>
    <p><span class="text-success">Project Leader: </span>{{project.Lead.Username}}</p>
    <p><span class="text-success">Labels: </span>
        <span ng-repeat="label in project.Labels">
            <span class="label label-default marginRight1">{{label.Name}} </span></span> </p>
    <p><span class="text-success">Priorities: </span>
        <span ng-repeat="priority in project.Priorities">
            <span class="label label-default marginRight1">{{priority.Name}} </span></span> </p>



    <div>
        <hr>
        <a ng-show="isPrLAdmin"  ng-click="editProject()" class="btn btn-success btn-sm marginBottom5">Edit Project</a>
        <a ng-show="isProjectLeader" ng-click="openAddIssueToProjectModal(project)" class="btn btn-success btn-sm marginBottom5">Add New Issue</a>

        <hr>
    </div>
</div>

<!--Project Issues part -->
<div class="col-md-9">
    <div class="well maxSized marginBottom0 " >
        <table  ng-if="issuePresence" class="table table-striped the-table">
            <thead>
                <tr class="green">
                    <td  class="col-md-2"> <h4>Issue Title</h4></td>
                    <td  class="col-md-6"> <h4>Description</h4></td>
                    <td  class="col-md-2"> <h4>Due Date</h4></td>
                    <td  class="col-md-2"> <h4>Assignee</h4> </td>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="issue in issues ">
                    <td class="col-md-2"><a href="/#/issues/{{issue.Id}}">{{issue.Title}}</a></td>
                    <td class="col-md-6"> {{issue.Description}} </td>
                    <td class="col-md-2"> {{issue.DueDate | date:'dd-MM-yyyy'}} </td>
                    <td class="col-md-2"> {{issue.Assignee['Username']}} </td>

                </tr>
            </tbody>

        </table>
        <h3 ng-if="!issuePresence" class="text-success text-center"> There are no issues in this project </h3>
    </div>
</div>

